.container.h-100.d-flex.flex-column.justify-content-around.my-7
    .row.justify-content-around
        .col-8.mt-5.mb-4
            h3.fa-text.bold.xx-large.text-right کاری از
        
        .w-100
        
        .col
            p.fa-text.bold.xx-large.text-left مرتضی بهبویان
        .col-auto
            p.fa-text.bold.xx-large.divider -
        .col
            p.fa-text.bold.xx-large.text-right سیده زهرا میرکاظمی
        
        .w-100

        .offset-col-3.col-6.mt-2
            p.fa-text.xx-large.text-center مهندسی کامپیوتر نرم افزار

    .row.justify-content-center.mt-4
        p.fa-text.bold.xx-large «پاییز 97»
    