extend ../../index

block content
    .container.h-100.d-flex.flex-column.justify-content-around.my-7
        .row.justify-content-around
            .col-8.mt-7.mb-4
                h3.creators-text.text-right کاری از
            .w-100
            .col
                p.creator-text.text-left مرتضی بهبویان
            .col-auto
                p.divider -
            .col
                p.creator-text.text-right سیده زهرا میرکاظمی

        .row.justify-content-center
            p.year-text پاییز 97

block breadcrumb
    