@import '../../../shared/styles/styles.scss';

@mixin status-text-stroke($color) {
    color: darken($color, 5%);
    text-shadow: text-stroke($width: 2px, $color: transparentize(lighten($color, 20%), 0.6), $blur: 2px);
}

.icon-accept,
.color-success {
    color: $success-color;
    text-shadow: text-stroke($width: 3px, $color: transparentize(lighten($success-color, 15%), 0.6), $blur: 30px);
}

.icon-reject,
.color-reject {
    color: $reject-color;
    text-shadow: text-stroke($width: 3px, $color: transparentize(lighten($reject-color, 15%), 0.6), $blur: 30px);
}

.color-reject {
    @include status-text-stroke($reject-color);
}

.color-success {
    @include status-text-stroke($success-color);
}

.status-text {
    font-family: 'BRoya';
    font-weight: bolder;
    font-size: x-large;
}

.navigation-button {
    outline: none;
    border-radius: 7px;
    background-color: $button-color;
    border: 2px solid lighten($button-color, 20%);
    color: whitesmoke;
    font-family: 'BRoya';
    font-size: 1.5rem;

    transition: background-color 150ms ease-out, border-color 150ms ease-out, color 100ms ease-in-out, box-shadow 150ms ease-in-out;

    &:hover {
        @include box-glow($offset: 1px, $blur: 10px, $spread: 1px, $color: lighten($button-box-glow-color, 20%));
        border-color: $button-color;
        color: whitesmoke;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}