form(@submit="submit").h-100.d-flex.flex-column.align-items-center.justify-content-around
    .input-form.row.justify-content-center.align-items-center.mt-7
        label(for="input").input-label.text-center.ml-md-3.ml-lg-4.my-0 رشته‌:
        .w-100.d-md-none
        input(type="text" dir="ltr" id="input" autocomplete="off" @keyup="onchange").text-input.p-1.px-2.col-8
    .submit-button-wrapper.mt-5
        button(type="submit" disabled)#submit-button.button-disabled.d-flex.align-items-center
            span.buttoon-title بررسی
            i.fas.fa-chevron-left.mr-3
