.navigator-container.d-flex.justify-content-center.align-items-center
    .navigator-icon-container.text-center
        a(href="/about").navigator-link.p-2.d-inline-block
            p.d-inline-block.m-0.mx-2.navigator-text درباره
            i.fas.fa-info-circle.navigator-icon.ml-1
