@import '../../../shared/styles/main.scss';

p.text {
    font-family: 'BRoya';
    font-size: x-large;
}

button {
    font-family: 'BRoya';
    font-size: x-large;
}

.dnd-upload-icon-wrapper {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;

    .dnd-upload-icon {
        font-size: 20rem;
        color: map-get($colors, upload-background-logo);
        opacity: 0.4;
    }
}