.container-fluid.d-flex.flex-column.align-items-center
    div(dir="rtl").col-10.wrapper.d-flex.flex-column.align-items-center.justify-content-around
        .result-container.d-flex.flex-column.align-items-center.text-center
            .status-icon-wrapper
                i.icon-accept accept
                i.icon-reject reject
            .status-text-container
                p !رشته پذیرش شد

        .navigation-buttons-container.d-flex.justify-content-around
            .home-button-container
                button.home-button صفحه اول
                
            .back-button-container
                button.back-button صفحه قبل
                
    .bread-crumb-wrapper.col-2