div(dir="rtl")#breadcrumb.container.d-flex.justify-content-center.align-items-center.w-50
    div(v-bind:class="{ active: page === 'home' }").bc-item.col.d-flex.align-items-center.justify-content-center
        .bc-title.d-flex.align-items-center.justify-content-center.text-center
            p.my-3.bc-text 1. آپلود فایل
    div(v-bind:class="{ active: page === 'form' }").bc-item.col.d-flex.align-items-center.justify-content-center.mx-2
        .bc-title.d-flex.align-items-center.justify-content-center.text-center
            p.my-3.bc-text 2. ورود رشته
    div(v-bind:class="{ active: page === 'result' }").bc-item.col.d-flex.align-items-center.justify-content-center
        .bc-title.d-flex.align-items-center.justify-content-center.text-center
            p.my-3.bc-text 3. نتیجه
