.container-fluid.d-flex.flex-column.align-items-center
    div(dir="rtl").col-10.wrapper.d-flex.flex-column.align-items-center.justify-content-around
        .upload-button-wrapper.d-flex.flex-column.justify-content-center.align-items-center
            .upload-button-guide
                p.text.upload-button-text میتونی با زدن کلید زیر فایل رو انتخاب کنی:
            .upload-button-container
                button.upload-button انتخاب
        .dnd-upload-wrapper.d-flex.flex-column.justify-content-center.align-items-center
            .dnd-upload-guide
                p.text.dnd-upload-text یا فایلت رو بکشی توی همین کادر و رها کنیش
            .dnd-upload-icon-wrapper
                i.dnd-upload-icon icon

    .bread-crumb-wrapper.col-2