

.tingle-modal-box {
    @extend .user-unselectable;
    overflow: hidden;
    border-radius: 15px;
    color: map-get($colors, reject);
    width: 50%;

    & > .tingle-modal-box__content {
        @extend .p-0;
        @extend .pt-4;
        @extend .pb-3;
    }

    & > .tingle-modal-box__footer {
        background-color: map-get(map-get(map-get($colors, modal), footer), background);
        @extend .p-0;
        @extend .py-3;

        & > .tingle-btn.tingle-btn--primary {
            transition: box-shadow 100ms ease-in-out;

            &:hover {
                background-color: darken(map-get(map-get(map-get($colors, modal), button), background), 5%);
                @include box-glow($offset: 1px, $blur: 10px, $color: transparent);
            }

            background-color: map-get(map-get(map-get($colors, modal), button), background);
            @include box-glow($offset: 1px, $blur: 10px, $color: #999999);
        }
    }
}

.tingle-modal-box__content {
    @extend .d-flex;
    @extend .flex-column;
    @extend .justify-content-between;
    @extend .align-items-center;
}
