.container.h-100.d-flex.flex-column.justify-content-around
    .row.mt-5
        .col-8.mb-2.mr-7
            h3.fa-text.bold.xx-large.text-right کاری از
        
        .w-100

        .col
            p.fa-text.bold.xx-large.text-left مرتضی بهبویان
        .col-auto
            p.fa-text.bold.xx-large.divider و
        .col
            p.fa-text.bold.xx-large.text-right سیده زهرا میرکاظمی

        .w-100
            
        .col-12.mt-2
            p.fa-text.xx-large.text-center مهندسی کامپیوتر نرم افزار

        .w-100
        
        p.text-center.col-12.fa-text.bold.xx-large «پاییز 97»

        
    .row.justify-content-center
        button(@click="back").button.d-flex.align-items-center
            span.buttoon-title برگشت
            i.fas.fa-angle-left.mr-3
    