.container
    .row
        .col-8.mt-5.mb-4.mr-7
            h3.fa-text.bold.xx-large.text-right کاری از
        
    .row.justify-content-around
        .col
            p.fa-text.bold.xx-large.text-left مرتضی بهبویان
        .col-auto
            p.fa-text.bold.xx-large.divider و
        .col
            p.fa-text.bold.xx-large.text-right سیده زهرا میرکاظمی
        
    .row.justify-content-around
        .col-6.mt-2
            p.fa-text.xx-large.text-center مهندسی کامپیوتر نرم افزار

    .row.justify-content-center.mt-4
        p.fa-text.bold.xx-large «پاییز 97»
    