.container.h-100.d-flex.flex-column.justify-content-center
    .row
        .col-8.mr-7
            h3.fa-text.bold.xx-large.text-right کاری از

    .row.justify-content-center
        .col-auto
            p.mb-0.fa-text.bold.xx-large.text-left مرتضی بهبویان
        .col-auto
            p.mb-0.fa-text.bold.xx-large.divider و
        .col-auto
            p.mb-0.fa-text.bold.xx-large.text-right سیده زهرا میرکاظمی

    .row.justify-content-center.mb-3
        .col-12
            p.mb-0.fa-text.xx-large.text-center مهندسی کامپیوتر نرم افزار

    .row.justify-content-center.my-4
        .col-12
            p.mb-0.fa-text.xx-large.text-center زیر نظر استاد گرامی:
        .col-12
            p.mb-0.fa-text.xx-large.text-center مهندس ناهید صادق‌پور

    .row.justify-content-center.mt-3
        p.mb-0.text-center.col-12.fa-text.bold.xx-large «پاییز 97»
    