@import './variables';

$reject-color: #FF0606;
$success-color: #008D00;
$background-color: #FFFFFF;
$main-wrapper-border-color: #444444;
$button-color: #264E70;
$button-box-glow-color: #4A4A48;
$input-corder-color: lightgrey;
