@import './fonts';
@import './utils';
@import '~bootstrap/scss/bootstrap.scss';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

* {
    border: 1px dashed whitesmoke;
}

html, body {
    height: 100vh;
}

$margin-space: 5;
$margin-spacer: map-get($spacers, $margin-space);

.container-fluid {
    height: calc(100% - #{2 * $margin-spacer});
    width: auto;
}

.wrapper {
    @extend .m-#{$margin-space};
    border-radius: 2rem;
}