@import './settings';
@import './fonts';
@import './utils';
@import './functions';
@import './mixins';
@import '~bootstrap/scss/bootstrap.scss';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

@import './dev';

html,
body {
    height: 100vh;
}

body {
    background-color: $background-color;
}

$margin-space: 5;
$margin-spacer: map-get($spacers, $margin-space);

.container-fluid {
    height: calc(100% - #{2 * $margin-spacer});
    width: auto;
}

.wrapper {
    @extend .m-#{$margin-space};
    border-radius: 2rem;
    border: 6px dashed $main-wrapper-border-color;
}

.wrapper,
.bread-crumb-section {
    @include media-breakpoint-down(xl) {
        width: 55%;
    }

    @include media-breakpoint-down(lg) {
        width: 65%;
    }

    @include media-breakpoint-down(md) {
        width: 75%;
    }

    @include media-breakpoint-down(sm) {
        width: 85%;
    }
}