@import './variables';
@import './colors';

$bread-crumb-divider-width: 20px;    
$breadcrumb-container-radius: 20px;
$buttons-border-radius: 15px;
$text-input-border-radius: 10px;
$button-font-size: 1.3rem;
$breadcrumb-font-size: 1.3rem;
