@import '../../../shared/styles/main';

.submit-button-wrapper,
.input-label {
    font-family: 'BRoya';
    font-size: x-large;
}

.text-input {
    font-family: 'Slabo 27px';
    font-size: x-large;
    border-radius: $text-input-border-radius;
    outline: none;
    background-color: transparentize($color: map-get($colors, input-border), $amount: 0.5);

    transition: background-color 50ms ease-in, border-color 100ms ease-in-out;

    border: 2px solid map-get($colors, input-border);

    &:focus {
        border-color: darken(map-get($colors, input-border), 40%);
        background-color: transparent;
    }
}