div(@dragover="ondrag" @dragend="ondrag" @drop="ondrop").dnd-upload-icon-wrapper.position-absolute.d-flex.justify-content-center.align-items-center
    i.dnd-upload-icon.fas.fa-upload
.upload-button-wrapper.d-flex.flex-column.justify-content-center.align-items-center
    .upload-button-guide
        p.text.upload-button-text میتونی با زدن کلید زیر فایل رو انتخاب کنی:
    .upload-button-container.mt-5
        button(@click="uploadButtonClicked")#upload-button.button.upload-button.cursor-pointer
            span.button-text انتخاب...
.dnd-upload-wrapper.d-flex.flex-column.justify-content-center.align-items-center
    .dnd-upload-guide
        p.text.dnd-upload-text یا فایلت رو بکش داخل همین کادر و رها کنش
