.button {
    @extend .px-3;
    @extend .p-2;
    @extend .user-unselectable;
    @extend .cursor-pointer;

    outline: none;
    border-radius: $buttons-border-radius;
    background-color: map-get($colors, button);
    border: 2px solid lighten(map-get($colors, button), 20%);
    color: whitesmoke;
    font-family: 'BRoya';
    font-weight: bold;
    font-size: 1.3rem;

    transition: background-color 150ms ease-out, border-color 100ms ease-out, box-shadow 100ms ease-in-out;

    &:hover {
        @include box-glow($offset: 1px, $blur: 5px, $spread: 1px, $color: lighten(map-get($colors, button-box-glow), 20%));
        border-color: map-get($colors, button);
        color: whitesmoke;
    }

    &:focus {
        outline: none;
    }

    &:active {
        @include box-glow($offset: 1px, $blur: 10px, $spread: 1px, $color: lighten(map-get($colors, button-box-glow), 20%));
        background-color: lighten(map-get($colors, button), 10%);
        outline: none;
        position: relative;
        top: 1px;
    }
}

.button-disabled {
    @extend .px-3;
    @extend .p-2;
    @extend .user-unselectable;

    outline: none;
    border-radius: $buttons-border-radius;
    background-color: desaturate(map-get($colors, button), 70%);
    border: 2px solid desaturate(lighten(map-get($colors, button), 20%), 70%);
    color: darken(desaturate(whitesmoke, 70%), 10%);
    font-family: 'BRoya';
    font-weight: bold;
    font-size: 1.3rem;
}