@font-face {
    src: url('../../../assets/fonts/BRoya/BRoya.woff');
    font-family: 'BRoya';
    font-weight: normal;
    font-size: medium;
}

@font-face {
    src: url('../../../assets/fonts/Slabo_27px/Slabo27px-Regular.ttf');
    font-family: 'Slabo 27px';
    font-weight: normal;
    font-size: medium;
}