$navigator-colors: map-get($colors, about-navigator);

.navigator-container,
.visualizer-navigator-container {
    position: fixed;
    right: -75px;
    bottom: 150px;
    padding-left: 0;

    transition: transform 250ms cubic-bezier(0.13, 0.50, 0.62, 1.6);
    transform: translateX(0);

    &:hover {
        padding-left: 30px;
        
        transform: translateX(-60px);

        &>.navigator-icon-container>.navigator-link {
            color: darken(map-get($navigator-colors, icon), 25%);
            &>.navigator-text {
                opacity: 1;
            }
        }
    }

    .navigator-icon-container {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: map-get($navigator-colors, background);

        .navigator-link {
            font-family: 'BRoya';
            text-decoration: none;
            color: map-get($navigator-colors, icon);
            font-size: 1.5rem;
            .navigator-text {
                transition: opacity 200ms ease-in-out;
                opacity: 0;
            }

            >i {
                transition: color 100ms ease-in-out;
                vertical-align: sub;
            }
        }
    }
}

.visualizer-navigator-container {
    bottom: 210px;
    right: -90px;
}
