.container-fluid.d-flex.flex-column.align-items-center
    div(dir="rtl").col-10.wrapper.d-flex.flex-column.align-items-center.justify-content-around
        form(action="result", method="post").d-flex.flex-column.align-items-center
            .input-form.d-flex.flex-column.align-items-center
                label(for="input").input-label.text-center رشته‌:
                .w-100.d-md-none
                input(type="text" id="input").text-input
            .submit-button-wrapper.mt-5
                button(type="submit") بررسی

    .bread-crumb-wrapper.col-2