.container-fluid.d-flex.flex-column.align-items-center
    div(dir="rtl").col-10.wrapper.d-flex.flex-column.align-items-center.justify-content-around
        form(action="result", method="post").d-flex.flex-column.align-items-center
            .input-form.d-flex.flex-column.align-items-center
                label(for="input").input-label.text-center رشته‌:
                .w-100.d-md-none
                input(type="text" dir="ltr" id="input").text-input.p-1.px-2
            .submit-button-wrapper.mt-5
                button(type="submit").d-flex.align-items-center.cursor-pointer
                    i.fas.fa-chevron-right.fa-2x.ml-3
                    .
                        بررسی

    .bread-crumb-wrapper.col-2