.container-fluid.d-flex.flex-column.align-items-center
    div(dir="rtl").col-10.wrapper.d-flex.flex-column.align-items-center.justify-content-around
        block content

.container.d-flex.justify-content-center.align-items-center
    block breadcrumb
        .bread-crumb-section
            include shared/templates/breadcrumb/breadcrumb

include shared/templates/navigator/navigator